<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <h1>Firebase Web Push Notification Example</h1>
    <p id="token"></p>
    <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-messaging.js"></script>
    <!-- <script src="./firebase-messaging-sw.js"></script> -->
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyDk-6BrlcSSWDyPr_1rcitip3IIjdBuGZU",
            authDomain: "storage-43adb.firebaseapp.com",
            projectId: "storage-43adb",
            storageBucket: "storage-43adb.appspot.com",
            messagingSenderId: "1061053949926",
            appId: "1:1061053949926:web:291940cbdfcd2030a75827",
            measurementId: "G-K4LN3K4YTM"
        };
        
        firebase.initializeApp(firebaseConfig);
        const messaging = firebase.messaging();

        function InitializeFirebaseMessaging() {
            messaging
                .requestPermission()
                .then(function () {
                    console.log("Notification Permission")
                    return messaging.getToken();
                })
                .then(function (token) {
                    console.log("Token: "+token)
                    document.getElementById("token").innerHTML=token;
                })
                .catch(function (reason) {
                    console.log(reason)
                })
        }

        messaging.onMessage(function (payload) {
            console.log(payload)
        });

        messaging.onTokenRefresh(function () {
            messaging.getToken()
                .then(function (newtoken) {
                    console.log("New Token: "+newtoken);
                })
                .catch(function (reason) {
                    console.log(reason)
                })
        })

        InitializeFirebaseMessaging();
    </script>
</body>
</html>